tpFinalV2/Resources/ABMArticulos.wsdl

<wsdl:definitions
     name="ABMArticulos"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/tpFinalV2/tpFinalV2/ABMArticulos"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/tpFinalV2/tpFinalV2/ABMArticulos"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ABMArticulos"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ABMArticulos_plt" >
    <plt:role name="ABMArticulos_role" >
      <plt:portType name="tns:ABMArticulos_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ABMArticulos" schemaLocation="ABMArticulos_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="ArticulosFCollection_msg">
        <wsdl:part name="ArticulosFCollection" element="top:ArticulosFCollection"/>
    </wsdl:message>
    <wsdl:portType name="ABMArticulos_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:ArticulosFCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:ArticulosFCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:ArticulosFCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
